@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root, :root.light, :root.light .nice-colors-auto, :root .nice-colors-dark, :root .piece, :root *::-webkit-scrollbar-thumb {
  --§0: #000000;
  --§1: #0b277a;
  --§2: #00aa00;
  --§3: #038d8d;
  --§4: #920909;
  --§5: #a305a3;
  --§6: #d88f07;
  --§7: #636363;
  --§8: #2f2f2f;
  --§9: #4444f3;
  --§a: #40bb40;
  --§b: #33aec3;
  --§c: #c43c3c;
  --§d: #e668c6;
  --§e: #efc721;
  --§f: #929292;
  --lore_background-hex: #0f0f0fe6;
}

* {
  font-family: 'Montserrat', sans-serif;
  text-size-adjust: none;
}

body {
  background: url("./resources/skysim-bg-new.png");
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

.skystats-img {
  border-radius: 10px;
  width: 150px;
}

.join-discord-button {
  background: hsl(235, 86%, 65%);
  border-radius: 10px;
  padding: 1px 2px;
  border: 6px solid #5865F2;
  font-weight: 600;
  padding: 0;
  font-size: 18px;
  left: 1465px;
  color: white;
  transform: scale(1);
  transition: transform 0.15s ease-in-out, background-color 0.15s;
  will-change: transform;
}

.join-discord-button:hover {
  cursor: pointer;
  background: #4a55d3;
  border-color: #4a55d3;
  transform: scale(1.01);
}

.blur-box {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  bottom: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60vw;
  border-radius: 6px;
  padding: 40px 25px;
  text-align: center;
}

.skysim-viewer {
  position: relative;
  color: white;
  text-align: center;
  top: 150px;
}

.input-username {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  border-radius: 6px;
  width: 100%;
  border: 3px solid;
  /* border-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 0.4); */
  color: white;
  text-align: center;
  z-index: 2;
  padding: 10px 5px;
  font-size: xx-large;
}

.submit-username {
  position: relative;
  z-index: 2;
  color: white;
  border: 3px solid #0bca51;
  border-radius: 26px;
  width: 15%;
  padding: 10px 6px;
  color: #fff;
  background-color: #0bca51;
  top: 10px;
  text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  transform: scale(1);
  transition: transform 0.15s ease-in-out, background-color 0.15s;
  will-change: transform;
}

.submit-username:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #0bea51;
  border: 3px solid #0bea51;
}

/* .info-button {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 9999px;
  transition: background-color 0.1s;
  border: none;
  font-size: 13px;
  font-weight: 600;
  top: 7px;
  text-transform: uppercase;
  box-sizing: unset;
  display: inline-block;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
} */

.info-button {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  box-sizing: unset;
  height: 16px;
  font-weight: 600;
  top: 7px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9999px;
  line-height: normal;
  transition: background-color .1s;
  border: none;
}

/*KP56's Credit*/

.kp56-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 140px;
  top: 500px;
}

.kp56-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.kp56-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.kp56-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*GiaKhanhVN's Credit*/
.gia-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 180px;
  top: 500px;
}

.gia-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.gia-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.gia-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*Renegade450's Credits*/
.rene-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 220px;
  top: 500px;
}

.rene-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.rene-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.rene-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*Aragorn's Credits*/
.aragorn-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 260px;
  top: 500px;
}

.aragorn-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.aragorn-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.aragorn-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*Uhut's Credit*/

.uhut-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 140px;
  top: 525px;
}

.uhut-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.uhut-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.uhut-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}


@media all and (max-width: 768px) and (min-height: 400px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: env(safe-area-inset-top, 0);
    padding-left: max(8px,env(safe-area-inset-left));
    padding-right: max(8px,env(safe-area-inset-right));
    z-index: 1000;
    line-height: 48px;
    overflow: hidden;
    overflow: clip;
  }

  .blur-box {
    background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 10px;
  }

  .skystats-img {
    border-radius: 10px;
    width: 15%;
  }

  .submit-username {
    position: relative;
    z-index: 2;
    color: white;
    border: 3px solid #0bca51;
    border-radius: 26px;
    width: 35%;
    padding: 10px 6px;
    color: #fff;
    background-color: #0bca51;
    top: 10px;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transform: scale(1);
    transition: transform 0.15s ease-in-out, background-color 0.15s;
    will-change: transform;
  }
  
  .submit-username:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: #0bea51;
    border: 3px solid #0bea51;
  }

  .kp56-credit {
    background: none;
    backdrop-filter: blur(16px) brightness(0.35);
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    left: 145px;
    top: 550px;
  }
  
  .kp56-avatar {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    image-rendering: pixelated; 
  }
  
  .kp56-credits {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .kp56-name {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    position: absolute;
    left: 100px;
    top: 32px;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  /*GiaKhanhVN's Credit*/
.gia-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 135px;
  top: 575px;
}

.gia-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.gia-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.gia-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*Renegade450's Credits*/
.rene-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 145px;
  width: 65%;
  top: 600px;
}

.rene-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.rene-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.rene-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/*Aragorn's Credits*/
.aragorn-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 145px;
  top: 625px;
}

.aragorn-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.aragorn-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.aragorn-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.uhut-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 135px;
  width: 75%;
  top: 645px;
}

.uhut-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.uhut-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.uhut-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
}

@media all and (min-width: 1300px) and (max-width: 1514px) and (min-height: 650px) and (max-height: 795px) {
  .kp56-credit {
    background: none;
    backdrop-filter: blur(16px) brightness(0.35);
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    left: 145px;
    top: 550px;
  }
  
  .kp56-avatar {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    image-rendering: pixelated; 
  }
  
  .kp56-credits {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .kp56-name {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    position: absolute;
    left: 100px;
    top: 32px;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

.gia-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 155px;
  top: 550px;
}

.gia-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.gia-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.gia-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.rene-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 165px;
  width: 25%;
  top: 600px;
}

.rene-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.rene-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.rene-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.aragorn-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: -525px;
  top: 775px;
}

.aragorn-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.aragorn-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.aragorn-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.uhut-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 135px;
  width: 25%;
  top: 645px;
}

.uhut-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.uhut-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.uhut-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
}

/* @media all and (min-width: 800px) and (max-width: 990px) and (min-height: 700px) and (max-height: 850px) {
  .kp56-credit {
    background: none;
    backdrop-filter: blur(16px) brightness(0.35);
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    left: 145px;
    top: 550px;
  }
  
  .kp56-avatar {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    image-rendering: pixelated; 
  }
  
  .kp56-credits {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .kp56-name {
    opacity: .85;
    transition: opacity .15s ease-in-out;
    position: absolute;
    left: 100px;
    top: 32px;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

.gia-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 155px;
  top: 550px;
}

.gia-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.gia-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.gia-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.rene-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 165px;
  width: 25%;
  top: 600px;
}

.rene-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.rene-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.rene-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.aragorn-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: -525px;
  top: 775px;
}

.aragorn-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.aragorn-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.aragorn-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.uhut-credit {
  background: none;
  backdrop-filter: blur(16px) brightness(0.35);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  left: 135px;
  width: 25%;
  top: 645px;
}

.uhut-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: pixelated; 
}

.uhut-credits {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.uhut-name {
  opacity: .85;
  transition: opacity .15s ease-in-out;
  position: absolute;
  left: 100px;
  top: 32px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
} */

/* rsnx addition's */

.skysim-header {
  font-size: max(2vw, 24px);
  color: #fff;
}

.skysim-subheader {
  font-size: max(1vw, 12px);
  color: rgba(255, 255, 255, 0.725);
}

.blur-box {
  height: 400px !important;
  min-width: 400px !important;
}

.submit-username-text {
  font-size: max(0.8vw, 12px);
}

.input-username {
  width: 50vw !important;
  min-width: 250px !important;
  min-height: 50px !important;
}

@media (max-width: 700px) {
  .blur-box {
    height: 250px !important;
  }
}

@media (max-width: 700px) {
  .input-username::placeholder {
    font-size: 20px;
  }
  .input-username {
    min-height: 25px;
    height: 23px;
  }
}

/* Navbar */

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #212529;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #212529;
  transition: color 0.3s ease;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #212529;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
  }
  
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .togglemenu {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

.errormsg {
  display: none;
  font-weight: bold;
  font-size: 20px;
  color: #f30909;
}