<div class="stat-container info-container-wrapper">
  <div class="info-container">
  <div class="info-header">Notice</div>
  Some informations are not available for <%= username %> due to limited API access.<br><span>Open your in game settings to enable full API access.</span>
  </div>
</div>