<!--Dungeons Section-->
<div class="dungeons">
  <div class="text-dungeons" style="margin-bottom: -90px;" id="Dungeons">Dungeons</div>
  <p class="stat-sub-header">Boss Collections</p>
  <div class="chip">
    <div class="chip-icon-wrapper"><div style="background-image:url(/resources/dungeons/sadan.png)" class="item-icon custom-icon"></div></div>
    <div class="chip-text">
    <div class="collection-name "><span class="stat-name">Sadan </span><span class="stat-value"><%= data.sadancollections %></span></div>
    <div class="collection-amount"><span class="stat-name">Total Runs: </span><span class="stat-value"><%= data.totalfloor6run %></span></div>
    </div>
  </div>
</div>