<!DOCTYPE html>

<html lang="en">

<head>
    <title>SkyStats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="menu-container">
  
    <img src="/Resources/slyso234.png" alt="SkyStats Logo" class="skystats-img"/>

    <div class="togglemenu">
      <button class="join-discord-button" onclick="redirectDiscord()">Join
          our
          Discord</button>
  </div>

  <div class="menu">
      <ul> </ul>
      <ul>
          <li>
              <button class="join-discord-button"
                  onclick="redirectDiscord()">Join
                  our Discord</button>
          </li>
      </ul>
  </div>
  </nav>
  <div class="blur-box">
      <h1 class="skysim-header"><strong>Show SkySim Stats for</strong></h1>
      <form method="post" id="post_method_form">
        <input type="text" aria-label="SkySim_Username" name="SkySim_Username" class="input-username" placeholder="Enter Username" required>
        <p class="errormsg"></p>
        <button type="submit" name="Show Me" class="submit-username big-green-button"><strong class="submit-username-text">Show me</strong></button>
      </form>
  </div>
  <!-- Credits
  <div class="credits">
    <span class="kp56-credit">
      <img src="https://crafatar.com/avatars/b13a1587-4631-4f27-95cc-62e2a39200b8?size=8&overlay" class="kp56-avatar">
      <div class="kp56-name">KP56</div>
      <div class="kp56-credits">Contributed With: SkySim API</div>
    </span>
    <span class="gia-credit">
      <img src="https://crafatar.com/avatars/42e02490-f1fa-406a-91f5-71a25e4eee86?size=8&overlay" class="gia-avatar">
      <div class="gia-name">GiaKhanhVN</div>
      <div class="gia-credits">Contributed With: Skill XP Goals & Formula</div>
    </span>
    <span class="rene-credit">
      <img src="https://crafatar.com/avatars/b4babcdd-86db-4d1b-be4e-76980cb8b99b?size=8&overlay" class="rene-avatar">
      <div class="rene-name">Renegade450</div>
      <div class="rene-credits">Contributed With: SkyStats's Background, Emotional Support<br>and Professional Retardism </div>
    </span>
    <span class="aragorn-credit">
      <img src="https://crafatar.com/avatars/3982ff90-168b-45a8-815a-d581a532a13f?size=8&overlay" class="aragorn-avatar">
      <div class="aragorn-name">Aroron</div>
      <div class="aragorn-credits">Contributed With: SkyStats's Logo & Skill Icons</div>
    </span>
    <span class="uhut-credit">
      <img src="https://crafatar.com/avatars/76543db3-e993-4b2f-acb1-d964d6844a21?size=8&overlay" class="uhut-avatar">
      <div class="uhut-name">Uhut</div>
      <div class="uhut-credits">Contributed With: Weight Calculation, EHP Calculation, Slayer Calculation, Slayer Progress Bar</div>
    </span> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>
  
  <!-- Tippy.JS Development-->
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</body>

<script>
    // window.onload = function () {
    //     document.getElementById("post_method_form").onsubmit = function () { return false };
    // };
    function redirectDiscord() {
        location.href = "https://discord.skysim.sbs/";
    };

    tippy('#info-box', {
        allowHTML: true,
        animation: 'scale',
        interactive: true,
        arrow: true,
        content: '<a style="color: white;" href="https://stats.skysim.sbs/">SkyStats</a> is a free stats-viewer for SkySim, a remake of Hypixel SkyBlock.<br><br>You can join the Discord <a href="https://discord.skysim.sbs/" style="color: white;">here</a> to suggest features, report bugs and issues. It will be appreciated since it will help SkyStats grow!<br><br>Credits: Uhut: Weight Calculation, EHP Calculation, and Slayer XP Bar & Calculation.<br>Aragorn: Icons, Armor Textures.<br>Renegade450: SkyStats Background.<br>KP56: SkySim API.<br>GiaKhanhVN: Resources, Skills Formula.<br>Intel: Skull Renderer',
        delay: [200, 100],
        placement: 'bottom',
        popperOptions: {
            modifiers: [
                {
                    name: 'flip',
                    options: {
                        fallbackPlacements: ['left']
                    }
                }
            ]
        },
        role: 'tooltip'
    });
    tippy('[data-tippy-content]', {
        allowHTML: true,
        animation: 'scale',
        interactive: true,
        arrow: false,
        delay: [200, 100],
        placement: 'left',
        popperOptions: {
            modifiers: [
                {
                    name: 'flip',
                    options: {
                        fallbackPlacements: ['bottom', 'right']
                    }
                }
            ]
        },
        role: 'tooltip'
    });

    const url = new URLSearchParams(window.location.search);
    const errorType = url.get("type");
    const errorUser = url.get("user");
    if (errorType !== null) {
        if (errorType == "invalid"){ 
            document.querySelector(".errormsg").innerHTML = "Invalid Username!"; 
            document.querySelector(".errormsg").style.display = "block";
        } else if (errorType == "notfound"){
            document.querySelector(".errormsg").innerHTML = "That player was not found!";
            document.querySelector(".errormsg").style.display = "block";
        } else if (errorType == "neverjoined"){ 
            document.querySelector(".errormsg").innerHTML = "That player never joined the SkySim Network!";
            document.querySelector(".errormsg").style.display = "block";
        }
    }
</script>

</html>