<div id="stats_content" class="sticky-stats">
  <div class="item-name nice-colors-dark">
    <p class="item-name__name" data-multicolor="true"><span id="stats_content_item_name"></span></p>
  </div>
  <div class="item-lore">
    <span class="lore-row"><span></span>
  </div>
</div>