<div class="echest-pieces">
  <div class="text-wardrobe" style="position: absolute;top: -50px;padding-left: 0px;margin-left: -10px;" id="PrivateVault">Private Vault</div>
  <div id="nav_bar">
    <div id="nav_bar_line"></div>
    <div id="nav_bar_background"></div>
    <div id="nav_items_container">
        <a class="nav-item pagenav" id="page1nav">Page 1</a>
        <a class="nav-item pagenav" id="page2nav">Page 2</a>
        <a class="nav-item pagenav" id="page3nav">Page 3</a>
        <a class="nav-item pagenav" id="page4nav">Page 4</a>
        <a class="nav-item pagenav" id="page5nav">Page 5</a>
        <a class="nav-item pagenav" id="page6nav">Page 6</a>
        <a class="nav-item pagenav" id="page7nav">Page 7</a>
        <a class="nav-item pagenav" id="page8nav">Page 8</a>
        <a class="nav-item pagenav" id="page9nav">Page 9</a>
        <a class="nav-item pagenav" id="page10nav ">Page 10</a>
    </div>
</div>
  <p class="stat-sub-header">Sorry, Private Vault is not added yet!</p>
</div>